$header: 30px;
$span: 20px;
$radius: 10px;
$nameP: 12px;
$locationP: 8px;
$modalNameP: 20px;
$modalLocationP: 10px;
$cardRadius: 5px;
$smallestDisplay: 300px;
$smallDisplay: 500px;
$averageDisplay: 800px;